ul {
  list-style-type: none;
  padding-inline-start: 0px;
}


.footer{
  margin: 50px;
  font-family: 'Nanum Gothic', sans-serif;
}

.footer ul li{
  margin-top: 10px;
}

.subscribeBox{
height: 50px;
}

.fab{
  margin: 10px;
}


@media (max-width: 736px) {
  .footer{
    margin: 10px;
    font-family: 'Nanum Gothic', sans-serif;
  }
}

/* @media (min-width: 736px) {
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   }
} */


