/* .login{
height: 80vh;
} */

.inside{
  margin-top: 30vh;
  margin-bottom: 20vh;
  font-family: 'Nanum Gothic', sans-serif;
}


@media (max-width: 736px) {

.inside{
  margin:10px;
  margin-top: 20vh;
}
}
