<!-- Developers:
       Shila Das (ID# 300969886)
       Michael Adaikalaraj (ID# 300958145)
       Nikesh Patel (ID# 300970071)
       Khushboo Sakervala (ID# 300984318)
       Gurpreet Kaur (ID# 300989390)

 WebApp Name: Poll+

Brief Description: Content of Login Page-->

<section class="container login">
  <div class="row inside">
    <div class="col-md-4" style="margin: 0px auto;">
      <h1>Please Login</h1>
      <form autocomplete="off" (submit)="onLoginSubmit()">
        <fieldset class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            [(ngModel)]="user.username"
            name="username"
            placeholder="Enter Username"
            id="username"
            required
            autofocus
            autocomplete="off"
          />
        </fieldset>
        <fieldset class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            [(ngModel)]="user.password"
            name="password"
            placeholder="Enter Password"
            id="password"
            required
            autocomplete="off"
          />
          or
          <a routerLink="/register">Register Here</a>
        </fieldset>
        <fieldset class="form-group text-right">
          <input type="submit" class="btn btn-success" value="Login" />
          <a routerLink="/home">
            <input type="button" class="btn btn-warning" value="Cancel" />
          </a>
        </fieldset>
      </form>
    </div>
  </div>
</section>
